.rabotnik{
    display:block;
    height: 100px;
}
.logo{
    display: block;
    height: 100px;

}
.image {
    display: block; 
    height: 200px;
    border-radius : 25%;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;

}

.menu{
    display: flex;
    justify-content: center;

}